body {
    background: url(back.jpg), rgba(0, 0, 0, 0.534);
}

.container {
    margin: 40px 0 0 100px;
    display: flex;
}

.navbar {
    display: block;
    width: 250px;
}

.main {
    margin: 0 0 0 30px;
    background: url(mainback.jpg);
    display: block;
    color: white;
    width: 800px;
    height: 1000px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    padding-left: 20px;
    width: 167px;
    height: 39px;
    background-color: rgb(34, 151, 132);
    border: black;
    margin: 5px;
    
}
li a { 
    text-decoration: none;
    line-height: 40px;
    color: rgb(228, 228, 228);
}

.picture {
    background: url(photo.jpg);
    background-size: 100%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.picture:hover {
    transform: rotateX(360) 0.3s;
}

.text {
    color: black;
    text-align: center;
    margin-left: auto;
}

.button-mail {
    margin-top: 50px;
    text-align: center;
}

.button-mail a {
    text-decoration: none;
    border-radius: 5px;
    background: rgb(34, 151, 132);
    color: white;
    padding: 15px 50px;
}

.buttons-social {
    text-align: center;
    margin-top: 50px;
}