body {
    background: url(back.jpg);
}

.container {
    display: flex;
}

.navbar {

    display: block;
    width: 250px;
}

.main {
    display: block;
    color: white;
    width: 900px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    padding-left: 20px;
    width: 167px;
    height: 39px;
    background-color: rgb(34, 151, 132);
    border: black;
    margin: 5px;
    
}
li a { 
    text-decoration: none;
    line-height: 40px;
    color: rgb(228, 228, 228);
}

